body {
    font-size: 18pt;
    height: 100%;
}

h1, h3, #results {
    text-align: center;
    margin: 0 0 0 0;
}

#radio {
    display: inline;
    font-family: Helvetica;
    font-size: 15px;
    font-variant: normal;
    width: 10px;
}

.formBox {
    margin-left: 2em;
    padding: 1em;
    width: 40%;
    height: 30%;
}

.listBox {
    margin-top: 50px;
    height: 800px;
    text-align: center;
    overflow-y: auto;
}

#appoint, #regist {
    margin-top: 70px;
}
nav {
    background-color: #67b1c4;
    font-size: 16px;
    font-variant: small-caps;
    position: absolute;
    width: 80%;
    height: 50px;
    right: 0px;
    margin-right: 1em;
    z-index: 1;
    top:0px;
}

nav ul {
    position: fixed;
    right: 0px;
    width:30%;
    top: 0px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    float: left;
    text-decoration: none;
}



nav a:link, nav a:visited {
    color: white;
    fill: white;
    text-decoration: none;
}

nav a:hover {
    color: #d87e28;
    fill: #d87e28;
}

#title {
    font-size: 25px;
    font-family: 'Francois One', sans-serif;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    width: 14%;
    font-variant: small-caps;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: center;
}

#fixed {
    background-color: #67b1c4;
    position: fixed;
    width:100%;
    height: 50px;
    z-index: 9999;
}

form {
    margin-top: 30px;
    display: inline;
    margin-left: 1em;
    width: 40%;
}

#search{
    font-family: Helvetica;
    font-variant: normal;
    width: 40%;
    margin-top: 10px;
    margin-left: 2em;
}

form button {
    background-color: #67b1c4;
}

form button img {
    width: 15px;
}
h3 {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#homeBackground{
    background-image: url('img/dental.jpg');
    background-size: 100% 100%;
    height: 600px;
}

#header {
    background-color: #67b1c4;
    height: 50px;
}

ul {
    list-style-type: none;
    overflow: hidden;
  
}

.hide {
    display: none;
}

footer {
    background-color: #67b1c4;
    border-top: 1px solid #21353b;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
}
.content {
    background-color: #EAFDF8;
    min-height: 1000px;
}
.content ul {
    padding-top: 25px;
}

input:valid{
    border: 1px solid green;
}
input:invalid{
    border: 1px solid red;
}

#submit{
    border-radius: 5px;
    color: white;
}


